/* ************** */
/*   CONTAINER    */
/* ************** */

.container_q_a {
    display: grid;
    grid-template-rows: 1fr 1fr;

    margin-left: 5%;
    margin-right: 5%;
}

/* ******************************* */
/*      PREGUNTAS Y RESPUESTAS     */
/* ******************************* */

/* PREGUNTA */

.cuadro_q_a {
    text-align: center;
    width: auto;


    border-radius: 10px;
    background: linear-gradient(135deg, #003688 0%, #001f4e 100%);
    color: aliceblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    /*font-size: 30px;*/

    padding: 20px;
}

#pregunta {
    padding-top: 15px;

    margin: auto;
    max-width: 40rem;
    word-wrap: break-word;
    line-height: 1.2;
}

/* RESPUESTA */


#respuestas {
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    grid-template-rows: 1fr 1fr;

    align-items: center;
    font-size: 30px;
    
}

#respuestas > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.respuesta_btn {
    width: 80%;
    height: auto;


    border-radius: 5px;
    border: none;
    color: aliceblue;
    margin-top: 10px;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    font-size: x-large;
}



/* ************** */
/*  ESTADISTICAS  */
/* ************** */

#estadisticas_q_a {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.texto-respuestas-estadisticas {
    font-size: 25px;
    padding: 10px;
}

@media (max-width: 550px) {
    #respuestas {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: 1fr 1fr;
    
        align-items: center;

    }
    
}

@media (max-height: 550px) {
    #respuestas {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: 1fr 1fr;
    
        align-items: center;

    }
    
}