<div class="container_q_a">
        

    <div class="cuadro_q_a">
        
        <div id="pregunta">
            <p [ngStyle]="{'font-size': 'q_font_size'}">{{ pregunta }}</p>

        </div>

            <div id="respuestas">
    
                <div *ngFor="let respuesta of respuestasDesordenadas">
                    <button [disabled]="verificandoRespuesta" class="respuesta_btn" [@mostrarCorrecta]="isDefault ? 'default' : getCorrectaIncorrecta(respuesta)"
                        (click)="verificarRespuesta(respuesta)">
                        {{respuesta}}
                    </button>
                </div>
    
            </div>
    </div>

    <div *ngIf="this.infoJuegoService.getModoJuego() !== 3" id="estadisticas_q_a">
        <ul>
            <p class="texto-respuestas-estadisticas">✅ Correct answers: {{ this.correctas }}</p>
            <p class="texto-respuestas-estadisticas">❌ Incorrect answers: {{ this.incorrectas}} </p>
            <p class="texto-respuestas-estadisticas">❔ Total questions answered: {{ this.preguntasTotales}} </p>
        </ul>
    </div>


</div>