#cuadro_q_a {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #003688 0%, #001f4e 100%);
    color: aliceblue;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#estadisticas_q_a {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.texto-respuestas-estadisticas {
    font-size: 25px;
    padding: 10px;
}

#pregunta {
    font-size: 25px;
}

.respuesta {
    border-radius: 5px;
    border: none;
    color: aliceblue;
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

li {
    list-style-type: none;
}