* {
    color: aliceblue;
}

#botones_modo_juego {
    display:block;
    text-align: center;    
}

.image-div img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.image-div {
    text-align: center;
    transition: transform 0.3s, border 0.3s;
    margin: 25px;
    width: 220px;
    border-radius: 5px;
    margin-top: 10%;
}

nav{
    text-align: left;
    margin-left: 3%;
    margin-top: 2%;
}