<nav id="div-header">
    <img src = "/assets/img/user.png" *ngIf="visual" class="hub" (click)="entrarPerfil()">
    <h1 id="corte-quiz-titulo" (click)="infoJuegoService.notificarPartidaTerminada()">CORTE QUIZ</h1>
    <!-- <p *ngIf="visual" class="hub" (click)="">?</p>
    <p *ngIf="visual" class="hub" (click)=""">| About us</p> -->

</nav>

<div id="botones_modo_juego">
<!--
    <nav (click)="entrarPerfil()" *ngIf="visual">≡</nav> -->

    <img class="image-div" *ngIf="jugar" (click)="comenzar(0)" src="assets\img\time trial.jpg">      <!--Contrarreloj-->
    <img class="image-div" *ngIf="jugar" (click)="comenzar(1)" src="assets\img\three strikes.jpg">   <!--Vidas-->
    <img class="image-div" *ngIf="jugar" (click)="comenzar(2)" src="assets\img\categories.jpg">      <!--Categoria-->
    <img class="image-div" *ngIf="jugar" (click)="comenzar(3)" src="assets\img\multiplayer.jpg">     <!--Multijugador-->
    
    <app-elegir-dificultad *ngIf="!infoJuegoService.getDificultadElegida()"></app-elegir-dificultad>

    <app-timer *ngIf="modo_juego == 0 && infoJuegoService.getDificultadElegida()"></app-timer>               <!-- Modo de juego contrarreloj -->
    <app-vidas *ngIf="modo_juego == 1 && infoJuegoService.getDificultadElegida()"></app-vidas>               <!-- Modo de juego Vidas -->
    <app-categorias *ngIf="modo_juego == 2"></app-categorias>     <!-- Modo de juego categorias -->
    <app-multijugador *ngIf="modo_juego == 3"></app-multijugador> <!-- Modo de juego multijugador -->

    <app-perfil *ngIf="infoJuegoService.isPerfilAbierto()"></app-perfil>  <!-- Entra al perfil -->
</div>