
<div id="botones_modo_juego">

    <a routerLink="time-trial">
        <img class="image-div"  (click)="comenzar(0)" src="assets\img\time trial.jpg">      <!--Contrarreloj-->
    </a>
    <a routerLink="strikes">
        <img class="image-div"  (click)="comenzar(1)" src="assets\img\three strikes.jpg">   <!--Vidas-->
    </a>
    <a routerLink="categories">
        <img class="image-div"  (click)="comenzar(2)" src="assets\img\categories.jpg">      <!--Categoria-->
    </a>
    <a routerLink="multiplayer">
        <img class="image-div" (click)="comenzar(3)" src="assets\img\multiplayer.jpg">     <!--Multijugador-->
    </a>
    
<!-- DIFFICULTY
    <app-elegir-dificultad *ngIf="!infoJuegoService.getDificultadElegida()"></app-elegir-dificultad>
-->    
<!-- SHOW EACH GAME MODE
    <app-timer *ngIf="modo_juego == 0 && infoJuegoService.getDificultadElegida()"></app-timer>               <!-- Modo de juego contrarreloj 
    <app-vidas *ngIf="modo_juego == 1 && infoJuegoService.getDificultadElegida()"></app-vidas>               <!-- Modo de juego Vidas 
    <app-categorias *ngIf="modo_juego == 2"></app-categorias>     <!-- Modo de juego categorias 
    <app-multijugador *ngIf="modo_juego == 3"></app-multijugador> <!-- Modo de juego multijugador
-->
</div>