* {
    color: aliceblue;
}

#botones_modo_juego {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.image-div img {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 4px;
}

.image-div {
    text-align: center;
    transition: border .1s ease-in-out;
    margin: 25px;
    width: 220px;
    border-radius: 5px;
}
