<main class="py-5">
    <section class="mb-5">
         <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
            <div class="container">
                <h3 class="mb-3">Add Student</h3>
                <div class="bg-light p-4">
                    <div class="row">                                                                         
                        <div class="col-lg-4">
                            <label for="">First Name</label>
                            <input type="text" name="firstName" formControlName="firstName" class="form-control form-control-ml" value="">
                        </div>

                        <div class="col-lg-4">
                            <label for="">Last Name</label>
                            <input type="text" name="lastName" formControlName="lastName" class="form-control form-control-ml" value="">
                        </div>
                        <div class="col-lg-4">
                            <label for="">Username</label>
                            <input type="number" name="username" class="form-control form-control-ml" value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <label for="">Email</label>
                            <input type="email" name="email" formControlName="email" class="form-control form-control-ml" value="">
                        </div>
                        <div class="col-lg-8">
                            <label for="">Address</label>
                            <input type="text" name="address" formControlName="address" class="form-control form-control-ml" value="">
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button type="submit" class="btn btn-primary" [disabled]="!studentForm.valid">Add</button>
                </div>
                <div class="row" *ngIf="!firstName?.['valid'] && (firstName?.['dirty'] || firstName?.['touched'])">
                    <div class="col-lg-12">
                        <div class="alert alert-danger" role="alert" *ngIf="firstName?.errors?.['required']">
                            First Name is required
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="firstName?.errors?.['lettersOnly']">
                            First Name must contain letters only
                        </div> 
                    </div>
                </div>
                <div class="row" *ngIf="!lastName?.['valid'] && (lastName?.['dirty'] || lastName?.['touched'])">
                    <div class="col-lg-12">
                        <div class="alert alert-danger" role="alert" *ngIf="lastName?.errors?.['required']">
                            Last Name is required
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="lastName?.errors?.['lettersOnly']">
                            Last Name must contain letters only
                        </div> 
                    </div>
                </div>
                <div class="row" *ngIf="!email?.['valid'] && (email?.['dirty'] || email?.['touched'])">
                    <div class="col-lg-12">
                        <div class="alert alert-danger" role="alert" *ngIf="email?.errors?.['required']">
                            Email is required
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="email?.errors?.['email']">
                            Email address must contain a correct email format
                        </div> 
                        <div class="alert alert-danger" role="alert" *ngIf="(email?.errors?.['emailExists'])">
                            This email address is already assigned to another Student
                        </div>  
                        <div class="alert alert-danger" role="alert" *ngIf="(email?.errors?.['forbiddenWords'])">
                            Invalid domain
                        </div>
                                              
                    </div>                   
                </div>
                <div class="row" *ngIf="message">
                    <div class="col-lg-12">
                        <div class="alert alert-success" role="alert">
                           {{ message }}
                        </div> 
                    </div>
                </div>                                         
            </div>
         </form>
    </section>
</main>