<body>
<h1> {{ usuarioActual.username }} </h1>

<p>Nombre: {{ usuarioActual.nombre + " " + usuarioActual.apellido}}</p>
<p>Email: {{ usuarioActual.email }}</p>

<h2>Estadísticas</h2>

<h3>Modo Contrarreloj</h3>
<ul>
    <li>Partidas Jugadas: {{ usuarioActual.partidas_jugadas_cr }}</li>
    <li>Preguntas correctas: {{ usuarioActual.preguntas_correctas_cr }} </li>
    <li>Preguntas incorrectas: {{ usuarioActual.preguntas_incorrectas_cr }}</li>
    <li>High Score: {{ usuarioActual.preguntas_correctas_high_score_cr }} </li>
</ul>

<h3>Three Strikes</h3>
<ul>
    <li>Partidas Jugadas: {{ usuarioActual.partidas_jugadas_v }}</li>
    <li>Preguntas correctas: {{ usuarioActual.preguntas_correctas_v }} </li>
    <li>High Score: {{ usuarioActual.preguntas_correctas_high_score_v }} </li>
</ul>

<h3>Categorias</h3>
<ul>
    <li>Partidas Jugadas: {{ usuarioActual.partidas_jugadas_cat }}</li>
    <li>Preguntas correctas: {{ usuarioActual.preguntas_correctas_cat }} </li>
    <li>Preguntas incorrectas: {{ usuarioActual.preguntas_incorrectas_cat }}</li>
    <li>High Score: {{ usuarioActual.preguntas_correctas_high_score_cat }} </li>
</ul>

<ul>
    <button (click)="logOut()">Cerrar sesion</button>
</ul>
    
</body>