<div id="perfil">
    <div class = "divs-perfil">
        <h3> {{ usuarioActual.username }} </h3>

        <p><strong>Name: </strong>{{ usuarioActual.nombre + " " + usuarioActual.apellido}}</p>
        <p><strong>Email: </strong>{{ usuarioActual.email }}</p>
        <a routerLink="signup">
            <button class = "botones"  (click)="logOut()" >Log Out</button>
        </a>
    </div>

    <div class = "divs-perfil">

    
    <h3>Time Trial</h3>
        <p><strong>Played Games: </strong>{{ usuarioActual.partidas_jugadas_cr }}</p>
        <p><strong>Right Answers: </strong>{{ usuarioActual.preguntas_correctas_cr }} </p>
        <p><strong>Wrong Answers: </strong>{{ usuarioActual.preguntas_incorrectas_cr }}</p>
        <p><strong>High Score: </strong>{{ usuarioActual.preguntas_correctas_high_score_cr }} </p>
    </div>

    <div class = "divs-perfil">
        <h3>Three Strikes</h3>
        <p><strong>Played Games: </strong>{{ usuarioActual.partidas_jugadas_v }}</p>
        <p><strong>Right Answers: </strong>{{ usuarioActual.preguntas_correctas_v }} </p>
        <p><strong>High Score: </strong>{{ usuarioActual.preguntas_correctas_high_score_v }} </p>
    

    </div>
    
    <div class = "divs-perfil">

        <h3>Categories</h3>
        <p><strong>Played Games: </strong>{{ usuarioActual.partidas_jugadas_cat }}</p>
        <p><strong>Right Answers: </strong>{{ usuarioActual.preguntas_correctas_cat }} </p>
        <p><strong>Wrong Answers: </strong>{{ usuarioActual.preguntas_incorrectas_cat }}</p>
        <p><strong>High Score:</strong> {{ usuarioActual.preguntas_correctas_high_score_cat }} </p>
    </div>
</div>
