<div class="modal">
    <div class="modalContent">
        <h3 class="title">GAME OVER</h3>
        <p class="subtitle">✅ Correct answers: {{ infoJuegoService.getPreguntasCorrectas() }}</p>
        <p class="subtitle">❌ Incorrect answers: {{ infoJuegoService.getPreguntasIncorrectas() }}</p>
        <p class="subtitle">❔ Total questions answered: {{ infoJuegoService.getPreguntasTotales() }}</p>
        <p class="subtitle">🏆 High score: {{ getHighScore() }}</p>

        <a routerLink="game">
            <button class = "botones" (click)="infoJuegoService.notificarPartidaTerminada()">OK</button>
        </a>
    </div>
</div>