* {
    text-decoration: none;
    color: aliceblue;
}

nav{
    text-align: left;
    padding-top: 3%;
    padding-left: 3%;
}

#div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    background-image: linear-gradient(135deg, #003688 0%, #001f4e 100%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
    height: 60px;
}

h1 {
    padding-top: 11px;
    font-family: 'Good Times', sans-serif;
    font-style: oblique;
    font-size: 35px;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

nav a {
    margin-left: 2rem;
    margin-top: 3px;
    margin-right: 2rem;
}

#corte-quiz-titulo:hover {
    cursor: pointer;
}

.hub {
    cursor: pointer;
    margin-left: 25px;
    height: 30px;
    margin-right: 25px; 
}

.hub:hover {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
