<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corte Quiz</title>
</head>
<body>
    <nav id="div-header">
    
        <a routerLink="profile">
            <fa-icon [icon]="faUser" size="2x"></fa-icon>
        </a>
        <a routerLink="game">
            <h1 id="corte-quiz-titulo" (click)="infoJuegoService.notificarPartidaTerminada()">CORTE QUIZ</h1> <!--Funciona sólo cuando esté en el menu principal-->
        </a>
        <a routerLink="about">
            <fa-icon [icon]="faQuestion" size="2x"></fa-icon>
        </a>
    </nav>

    <router-outlet></router-outlet>
</body>
</html>

