<div class="modal">
    <div class="modalContent">
        <h3 class="title">GAME OVER</h3>

        <p class="subtitle">PREGUNTAS CORRECTAS</p>
        <p>{{ infoJuegoService.getPreguntasCorrectas() }}</p>
        <p class="subtitle">PREGUNTAS INCORRECTAS</p>
        <p >{{ infoJuegoService.getPreguntasIncorrectas() }}</p>
        <p class="subtitle">PREGUNTAS TOTALES</p>
        <p>{{ infoJuegoService.getPreguntasTotales() }}</p>
        <p class="subtitle">HIGH SCHORE</p>
        <p>{{ getHighScore() }}</p>

        <button (click)="infoJuegoService.notificarPartidaTerminada()">CONTINUAR</button>
    </div>
    
</div>