/* ############################ */
/* ############################ */
/* ###### MAIN CONTAINER ###### */
/* ############################ */
/* ############################ */

.elegir-dificultad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}


/* ############################ */
/* ############################ */
/* ######    MAIN DIV    ###### */
/* ############################ */
/* ############################ */

.elegir-dificultad-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    overflow: hidden;
    gap: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-color: #001f4e;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    width: 40%;

}


/* ************************** */
/*           TITLE            */
/* ************************** */

.e-f-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

#elegir-dificultad-titulo {
    font-family: 'Good Times', sans-serif;
    font-style: oblique;
    font-size: 2rem;

    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


/* ************************** */
/*          OPTIONS           */
/* ************************** */

.e-f-options {
    position: relative;
    display: flex;
    gap: 1rem;

    align-items: space-evenly;
    justify-content: space-evenly;
    flex-direction: column;

    transition: all .3s;

}

.e-f-options > button {
    color: #fff;
    border: none;
    border-radius: 8px;

    transition: all 2.3s ease-in-out;


    font-size: x-large;
    padding: 10px;
    width: 13rem;
    height: 5rem;

    background: linear-gradient(90deg, rgb(4, 73, 184) 0%, rgb(50, 75, 151, 0.7) 100%);
}


.e-f-options > button:hover {
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

}


#easy:hover {
    background: linear-gradient(90deg, rgb(4, 184, 58) 0%, rgba(50, 151, 63, 0.7) 100%);

}
#medium:hover {
    background: linear-gradient(90deg, rgb(184, 133, 4) 0%, rgba(151, 124, 50, 0.7) 100%);

}
#hard:hover {
    background: linear-gradient(90deg, rgb(184, 4, 4) 0%, rgba(151, 50, 50, 0.7) 100%);

}
#random:hover {
    background: linear-gradient(90deg, rgb(130, 4, 184) 0%, rgba(70, 182, 176, 0.7) 100%);

}

img {
    position: absolute;

    width: 11rem;
    height: 11rem; /*10 como Messi*/

    opacity: 20%;

    right: -12rem;
    bottom: -1rem;
    rotate: -4deg;

    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.174), rgb(0, 0, 0));
}

@media (width < 1230px) {
    img {
        position: absolute;

        width: 11rem;
        height: 11rem; /*10 como Messi*/

        opacity: 20%;

        right: -12rem;
        bottom: -1rem;
        rotate: -4deg;

        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.174), rgb(0, 0, 0));
    }
}

@media (max-height: 585px) {

    .elegir-dificultad-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    
        overflow: hidden;
        gap: 2rem;
        padding: 20px;
        border-radius: 10px;
        background-color: #001f4e;
        color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
        width: auto;
    
    }
    

    .e-f-options {
        margin-top: 1rem;
        margin-bottom: 2rem;
        margin-left: .5rem;
        margin-right: .5rem;

        position: relative;
        display: flex;
        gap: 1rem;

        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;

    }
}