<div id="elegir-dificultad-container">
    <div id="elegir-dificultad-div">
        <h2 id = "elegir-dificultad-titulo">Choose difficulty</h2>
        <p class = "elegir-dificultad-cuerpo" (click)="elegirDificultad(0)">Easy</p>
        <p class = "elegir-dificultad-cuerpo" (click)="elegirDificultad(1)">Medium</p>
        <p class = "elegir-dificultad-cuerpo" (click)="elegirDificultad(2)">Hard</p>
        <p class = "elegir-dificultad-cuerpo" (click)="elegirDificultad(-1)">Random</p>
        <p><button class = "botones" (click)="this.infoJuegoService.notificarPartidaTerminada()">Back</button></p>
        <!-- Si cliquea esto vuelve atrás -->
    </div>
</div>