<div class="elegir-dificultad-container">
    <div class="elegir-dificultad-div">
        <div class="e-f-header">
            <a routerLink="/game"><fa-icon [icon]="faChevronLeft" size="3x" style="color: #FFF;"></fa-icon>
            </a>
            <h2 id = "elegir-dificultad-titulo">Choose difficulty</h2>  
             <div></div>
        </div>

        <div class="e-f-options">
            <button class = "elegir-dificultad-cuerpo" (click)="elegirDificultad(0)">Easy</button>
            <button class = "elegir-dificultad-cuerpo" (click)="elegirDificultad(1)">Medium</button>
            <button class = "elegir-dificultad-cuerpo" (click)="elegirDificultad(2)">Hard</button>
            <button class = "elegir-dificultad-cuerpo" (click)="elegirDificultad(-1)">Random</button>
            <img src="../../assets/img/difficulty-icon.png">
        </div>

        <!--
        <div>
            <img src="../../assets/img/difficulty-icon.png">
        </div>
        -->
    </div>

</div>