/* ############################ */
/* ############################ */
/* ###### MAIN CONTAINER ###### */
/* ############################ */
/* ############################ */

.elegir-dificultad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}


/* ############################ */
/* ############################ */
/* ######    MAIN DIV    ###### */
/* ############################ */
/* ############################ */

.elegir-dificultad-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    gap: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-color: #001f4e;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    width: 40%;
}


/* ************************** */
/*           TITLE            */
/* ************************** */

.e-f-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

#elegir-dificultad-titulo {
    font-family: 'Good Times', sans-serif;
    font-style: oblique;
    font-size: 2rem;

    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


/* ************************** */
/*          OPTIONS           */
/* ************************** */

.e-f-options {
    display: flex;
    gap: 1rem;

    align-items: space-evenly;
    justify-content: space-evenly;
    flex-direction: column;
}

.e-f-options > button {
    color: #fff;
    border: none;
    border-radius: 8px;

    font-size: x-large;
    padding: 10px;
    width: 13rem;
    height: 5rem;

    background: hsla(217, 100%, 50%, 1);
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, rgb(50, 75, 151, 0.7) 100%);
    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, rgb(50, 75, 151, 0.7) 100%);
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, rgb(50, 75, 151, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}


.e-f-options > button:hover {
    border: 0.2px solid white;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

    
}

/*
#elegir-dificultad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#elegir-dificultad-div {
    padding: 20px;
    border-radius: 10px;
    background-color: #001f4e;
    color: #fff;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#elegir-dificultad-titulo {
    font-family: 'Good Times', sans-serif;
    font-style: oblique;
    font-size: 35px;

    display: flex;
    justify-content: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.elegir-dificultad-cuerpo {
    font-size: 20px;
    padding: 10px;
}

.elegir-dificultad-cuerpo:hover {
    border: 0.2px solid white;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
*/