<app-elegir-dificultad *ngIf="!infoJuegoService.getDificultadElegida()"></app-elegir-dificultad>

<div class="multiplayer-container" *ngIf="infoJuegoService.getDificultadElegida()"> <!-- Si ya se eligió la dificultad-->
    <div *ngIf="!terminado" class="players-container">
        <div class="player1">
            <div class="player-title">Player 1</div>
            <div class="player-score" id="player-1-score">
                <span [ngStyle]="{'color': coloresPlayer1['p1_1']}">
                    <fa-icon [icon]="faCircle" size="2x"></fa-icon>
                </span>
                <span [ngStyle]="{'color': coloresPlayer1['p1_2']}">
                    <fa-icon [icon]="faCircle" size="2x"></fa-icon>
                </span>
                <span [ngStyle]="{'color': coloresPlayer1['p1_3']}">
                    <fa-icon [icon]="faCircle" size="2x"></fa-icon>
                </span>
                <span [ngStyle]="{'color': coloresPlayer1['p1_4']}">
                    <fa-icon [icon]="faCircle" size="2x"></fa-icon>
                </span>
                <span [ngStyle]="{'color': coloresPlayer1['p1_5']}" >
                    <fa-icon [icon]="faCircle" size="2x"></fa-icon>
                </span>
            </div>
        </div>

        <div class="player2">
            <div class="player-title">Player 2</div>
            <div class="player-score" id="player-2-score">
                <span [ngStyle]="{'color': coloresPlayer1['p2_1']}">
                    <fa-icon [icon]="faCircle" size="2x"></fa-icon>
                </span>
                <span [ngStyle]="{'color': coloresPlayer1['p2_2']}">
                    <fa-icon [icon]="faCircle" size="2x"></fa-icon>
                </span>
                <span [ngStyle]="{'color': coloresPlayer1['p2_3']}">
                    <fa-icon [icon]="faCircle" size="2x"></fa-icon>
                </span>
                <span [ngStyle]="{'color': coloresPlayer1['p2_4']}">
                    <fa-icon [icon]="faCircle" size="2x"></fa-icon>
                </span>
                <span [ngStyle]="{'color': coloresPlayer1['p2_5']}">
                    <fa-icon [icon]="faCircle" size="2x"></fa-icon>
                </span>
            </div>
        </div>
    </div>

    <!--<button (click)="this.terminado = true"></button>-->

    <app-pregunta-respuesta *ngIf="!terminado"></app-pregunta-respuesta>

    <div *ngIf="terminado">
        <div class="modal">
            <div class="modalContent">
                <h3 class="title">{{this.winner}} wins! 🥇</h3>
                <p class="subtitle">{{ this.score_p1 }} to {{this.score_p2}}</p>
             
                <a routerLink="game">
                    <button class = "botones" (click)="infoJuegoService.notificarPartidaTerminada()">OK</button>
                </a>
            </div>
        </div>
    </div>
    <!-- TBD <app-modal-game-over *ngIf="terminado"></app-modal-game-over> -->
</div>