/* ################################# */
/* ##### MULTIPLAYER CONTAINER ##### */
/* ################################# */

.multiplayer-container {
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

app-pregunta-respuesta {
    translate: 0px 5rem;
}

/* ################################# */
/* ####### PLAYERS CONTAINER ####### */
/* ################################# */

.players-container {


    display: flex;
    justify-content: space-around;
}

.players-container > div {
    background-color: rgb(0, 54, 131);
    border-radius: 10px;
    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.405));

    padding: 2rem;
}

.player-title {
    font-size: larger;
    font-family: 'Good Times', sans-serif;
    text-align: center;

    padding-bottom: 10px;
}

.player-score > span {
    padding: 5px;
}

    /* ******************************** */
    /* *********** PLAYER 1 *********** */

    





    
    
    
    /* ################################## */
    /* ##########   WIN MODAL   ######### */
    /* ################################## */
    
    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
    
    .modalContent {
        padding: 20px;
        border: none;
        border-radius: 10px;
        background-color: #001f4e;
        color: #fff;
        text-align: center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .subtitle {
        font-size: x-large;
        margin-bottom: 25px;
    }
    
    .title {
        font-family: 'Good Times', sans-serif;
        font-style: oblique;
        font-size: 35px;
        text-align: center;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 45px;
    }



    /* ################################# */
    /* ######### MEDIA QUERIES ######### */
    /* ################################# */