/* ************** */
/* ************** */
/* MAIN CONTAINER */
/* ************** */
/* ************** */

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

h2, h3 {
    font-family: "Good Times";
}

a {
    color: white;
    text-decoration: none;
    font-size: x-large;
}

/* MAIN CONTAINER */
.main-container {
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ABOUT CONTAINER */
.about-container {
    width: 95vw;
    gap: 2rem;

    display: grid;

    grid-template-columns: repeat(6, minmax(120px, 1fr));
    grid-template-rows: 1fr;
}

/* CHILDREN POSITION AND STYLE */

.about-container > div:nth-child(1) {
    grid-column: 1 / 5;
}

.about-container > div:nth-child(2) {
    grid-column: 5 / -1;
}

.about-container > div {
    background-image: linear-gradient(100deg, #071c3c 0%, #0d2243 100%);

    border-radius: 15px;
    filter: drop-shadow(2px 2px 15px rgba(2, 0, 21, 0.466));

    padding: 2rem;
    text-align: center;
}

img {
    width: 20%;
}


/* ******************************* */
/* ******************************* */
/*       HOW TO PLAY CONTAINER     */
/* ******************************* */
/* ******************************* */

.how-to-container {
    display: grid;
    grid-template-rows: 10% 90%;

    gap: 2rem;
}

/* ************************ GAME MODES ************************ */

.gm-title {
    display: flex;
    align-content: center;
    justify-content: center;

    
}

.gm-title h3 {
    margin-bottom: 0px;
    height: auto;
}

.gm-description {
    display: flex;
    justify-content: center;
    align-content: center;
    
    text-align: center;
    font-size: larger;
}


.game-mode-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 300px));
    /*grid-template-rows: 15% 1fr 1fr;*/

    column-gap: 1.2rem;
    row-gap: 1rem;

    padding-bottom: 1rem;
}

/* TIME TRIAL */

.game-mode-container > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.game-mode-container > div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

}

.game-mode-container > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
    align-content: center;
}

.game-mode-container > div:nth-child(3) img {
    width: 6rem;
    height: 6rem;

    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.508), rgb(0, 0, 0));
}
/* THREE STRIKES */

.game-mode-container > div:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

.game-mode-container > div:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}

.game-mode-container > div:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    align-content: center;
    justify-content: center;
}

.game-mode-container > div:nth-child(6) img {
    width: 6rem;
    height: 6rem;

    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.508), rgb(0, 0, 0));
}

/* CATEGORIES */

.game-mode-container > div:nth-child(7) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.game-mode-container > div:nth-child(8) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

}

.game-mode-container > div:nth-child(9) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.game-mode-container > div:nth-child(9) img {
    width: 6rem;
    height: 6rem;

    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.508), rgb(0, 0, 0));
}

/* MULTIPLAYER */

.game-mode-container > div:nth-child(12) img {
    width: 7rem;
    height: 6rem;

    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.508), rgb(0, 0, 0));
}


/* **************************** */
/* **************************** */
/*      ABOUT US CONTAINER      */
/* **************************** */
/* **************************** */

.about-us-container {
    display: grid;

    grid-template-columns: 1fr;
    grid-row: 10% 25% 65%;
}

.about-us-container > div {
    padding: .7rem;
}

.about-us-description > p {
    font-size: 22px;
    line-height: 1.3;
}


/* CREDITS CONTAINER */
.credits-container {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}


/* LINKEDIN USERS */
.linkedin-users {
    display: flex;

    flex-direction: column;
    gap: 0.4rem;
}

