
<div id="aboutUs">
    <h2>How to Play</h2>
    <ul>
        <li>Time trial: You got 60 seconds to answer as many questions as you can.</li>
        <li>Three Strikes: You got 3 lives, answer poorly 3 times and you're out!</li>
        <li>Categories: You got 5 lives to answer as many questions as you can before running out of lives in the category that you choose</li>
    </ul>

    <h2>About Us</h2>
    <p>
        We are three students from UTN Mar del Plata, Argentina. This is our final project for
        Laboratory 4 and Investigation Methodology.
    </p>
    <br/>
    <br/>
    <br/>
    <p>
        <a href="https://www.linkedin.com/in/malena-bridi-1b6b3b291/">
            <img src="../../assets/img/linkedin.png"> 
            Malena Bridi
        </a>
        <br/>
        <a href="https://www.linkedin.com/in/martin-leonardi-/">
            <img src="../../assets/img/linkedin.png"> 
            Martin Leonardi
        </a>
        <br/>
        <a href="https://www.linkedin.com/in/victoria-rivas-855184170/">
            <img src="../../assets/img/linkedin.png"> 
            Victoria Rivas
        </a>
    </p>
</div>

<footer id="aboutUs">
    <br/>
    <br/>
    <div>
        <a href="https://github.com/Viquirivas01/TP_final">
            <img src="../../assets/img/github-logo.png"> 
            CorteQuiz
        </a>
        
        
    </div>
    
</footer>