<div id="aboutUs">
    <h2>Reglas de juego</h2>
    <ul>
        <li>Time trial: periodo de 60 segundo para contestar todas las preguntas que pueda, de la dificultad seleccionada</li>
        <li>Three Strikes: tiene 3 vidas para contestar todas las preguntas que pueda, de la dificultad seleccionada, una vez gastadas finaliza la partida</li>
        <li>Categoria: tiene 5 vidas para contestar las preguntas que pueda segun categoria seleccionada</li>
    </ul>

    <h2>Quienes somos</h2>
    <p>
        Somos estudiantes de la UTN sede Mar del Plata, esta es la realizacion del tp Final
        en conjunto con Laboratorio 4 y Metodologia de la Inestigacion.
    </p>
    <br/>
    <br/>
    <br/>
    <ul>
        <li>Malena Bridi</li>
        <li>Martin Leonardi</li>
        <li>Victoria Rivas</li>
    </ul>
</div>

<footer>
    <br/>
    <br/>
    <br/>
    <br/>
    <div>&copy;CorteQuiz</div>
</footer>