/* ************** */
/* MAIN CONTAINER */
/* ************** */

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

h2, h3 {
    font-family: "Good Times";
}

/* MAIN CONTAINER */
.main-container {
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ABOUT CONTAINER */
.about-container {
    width: 90vw;
    gap: 2rem;

    display: grid;

    grid-template-columns: repeat(5, minmax(120px, 1fr));
    grid-template-rows: 1fr;
}

/* CHILDREN POSITION AND STYLE */

.about-container > div:nth-child(1) {
    grid-column: 1 / 4;
}

.about-container > div:nth-child(2) {
    grid-column: 4 / -1;
}

.about-container > div {
    background-image: linear-gradient(100deg, #071c3c 0%, #0d2243 100%);

    border-radius: 15px;
    filter: drop-shadow(2px 2px 15px rgba(2, 0, 21, 0.466));

    padding: 2rem;
    text-align: center;
}

img {
    width: 20%;
}


/* ******************************* */
/* ******************************* */
/*       HOW TO PLAY CONTAINER     */
/* ******************************* */
/* ******************************* */

.how-to-container {
    display: grid;
    grid-template-rows: 10% 90%;

    gap: 2rem;
}

/* ************************ GAME MODES ************************ */

.game-mode-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 300px));
    grid-template-rows: 15% 1fr 1fr;

    column-gap: 1.2rem;
    row-gap: 1rem;

    padding-bottom: 1rem;
}

/* TIME TRIAL */

.game-mode-container > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.game-mode-container > div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    font-size: larger;
}

.game-mode-container > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
    align-content: center;
}

.game-mode-container > div:nth-child(3) img {
    width: 50%;
    height: 50%;
}
/* THREE STRIKES */

.game-mode-container > div:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

.game-mode-container > div:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    font-size: larger;
}

.game-mode-container > div:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    align-content: center;
    justify-content: center;
}

.game-mode-container > div:nth-child(6) img {
    width: 50%;
    height: 50%;
}

/* CATEGORIES */

.game-mode-container > div:nth-child(7) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.game-mode-container > div:nth-child(8) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    font-size: larger;
}

.game-mode-container > div:nth-child(9) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.game-mode-container > div:nth-child(9) img {
    width: 50%;
    height: 50%;
}


/*
/* TIME TRIAL 

.time-trial-exp {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.time-trial-exp > img {
    width: 50%;
}

/* THREE STRIKES 

.three-strikes-exp {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}

.three-strikes-exp > img {
    width: 50%;
}

/* CATEGORIES 

.categories-exp {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
}

.categories-exp  img {
    width: 30%;
}
*/

/* ********************* */
/*  ABOUT US CONTAINER   */
/* ********************* */





